header{
  position: sticky;
  width: 100%;
  top: 0;
  padding: .7% 1%;
  transition: all .3s ease;
  z-index: 20; /* revisar pq */
  align-items: center;
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: space-between;
  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-text{
      display: flex;
      transition: scale 200ms ease;
      align-items: center;
      width: 40%;
      img{
        margin-right: 2%;
        max-width: 75px;
        max-height: 74px;
        animation: heartbeat 1.5s ease-in-out infinite both;
        @keyframes heartbeat{
          from, 45%{
             @include img-heartbeat(1, ease-out);
             transform-origin: center center;
          }
           10% {@include img-heartbeat(.91, ease-in);}
           17% {@include img-heartbeat(.98, ease-out);}
           33% {@include img-heartbeat(.87, ease-in );}
        }
      }
      h2{
        margin-top: 2%;
        font-size: 1.4em;
        letter-spacing: .1em;
      }
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      top: 0;
      position:relative;
      li:nth-child(1){
        &:hover ol li a{
          color: white;
        }
      }
      li{
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        align-items: center;
        &:hover a, &:hover i{
          color: $color-secundario;
        }
        gap: .5rem;
        #dropdown{
          display: none;
          flex-direction: column;
          background: #08020a;
          padding: 1rem;
          align-items:flex-start;
          border-radius: 15px;
          padding: 1rem;
          width: 230px;
          padding-left: 30px;
          li{
            border-left: 1px solid pink;
            padding-left: 15px;
            transition: 1s ease;
            &:hover{
              border-left: 1px solid $color-secundario;
            }
            &:hover::before{
              width: 0%;
            }
            a{
              font-size: 1.15rem;
              transition: all .8s;
              &:hover{
                color: $color-secundario;
                font-weight: 400;
              }
              &:last-child{
                margin-bottom: 7px;
              }
            }
          }
        }
        #dropdown.active{
          display: flex;
          position: absolute;
          top: 30px;
        }
        &::before{
          content: '';
          height: 2px;
          width: 0%;
          background: $color-secundario;
          position: absolute;
          left: 0;
          bottom: 3px;
          transition: .5s ease-out;
          border-radius: 8px;
        }
        &:hover::before{
          width: 100%;
        }
        a{
          font-size: 1.4rem;
          text-decoration: none;
          transition: all 1.2s;
        }
        #submenu{
          font-size: 1.15rem;
          cursor: pointer;
          transition: .8s ease;
        }
      }
    }
    .burger{
      display: block;
      position: relative;
      width: 50px;
      height: 35px;
      display: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      justify-self: end;
      span{
        position: absolute;
        width: 40px;
        height: 4px;
        background: $color-secundario;
        border-radius: 4px;
        transition: .5s;
        &:nth-child(1){
          transform: translateY(-15px);
          width: 30px;
          left: 5px;
        }
        &:nth-child(2){
          transform: translateY(15px);
          width: 18px;
          left: 5px;
        }
      }
    }
    .burger.active{
      span{
        &:nth-child(1){
          width: 40px;
          transform: translateY(0) rotate(45deg);
          transition-delay: .125s;
        }
        &:nth-child(2){
          width: 40px;
          transform: translateY(0) rotate(315deg);
          transition-delay: .25s;
        }
        &:nth-child(3){
          transform: translateX(60px);
        }
      }
    }
  }
}

.scroll-header{
  background: #000000;
  padding: 1.1% 1.8%;
}