.about-main{
    gap: 1rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    align-items: center;
    h1{
        @include all-titles (.1em, 3rem);
        margin-top: 3%;
    }
    div{
        margin-top: 3%;
        height: 50vh;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        .box-1{
            display: flex;
            flex-direction: column;
            img{
                max-width: 270px;
            }
        }
        .box-2{
            margin-top: 6%;
            grid-area: text;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-size: 1.4rem;
            }
            .social{
                display: flex;
                justify-content: center;
                gap: 4rem;
                a{
                    padding: 1%;
                    i{
                        font-size: 2rem;
                        transition: .5s;
                        &:hover{
                            color: $color-secundario;
                        }
                    }
                }
            }
        }
    }
}