$color-principal:#d08ce0;
$color-secundario:#5800FF;
$color-secundario-tranparente:#5800FF4d;
$color-secundario2:#4C3575;
$color-secundario-detalle:#703575;
$lila-oscuro:#350B40;
$transparent-dark-black:#000000d9;
$gris-oscuro:#000;
$color-principal-transparent: #6A67CE4d;